body
{
	background-image: url(imgs/pinpai-bg.png);
	background-size: 100% auto;
	text-align: center;
	font-family: "Microsoft Yahei";
	background-repeat: no-repeat;
	min-width: 320px;
	margin: 0;
}
.hide-seo
{
	width: 0;
	height: 0;
	position: absolute;
	left: -100px;
	top: -100px;
}
.pinpai-title 
{
	height:0;
	width:80%;
	padding-bottom:46%;
}
.pinpai-manger-nav
{
	width: 70%;
	position: relative;
	left: -6%;
}
.pinpai-manger-content
{
	margin-top: -3%;
}
.pinpai-manger-single
	{
		background-color: #f6e688;
		margin: 10px  auto;
		width: 67%;
		overflow: hidden;
	}
.pinpai-manger-text
{
	text-align: left;
	overflow: hidden;
}
.pinpai-manger-text>a
{
    display: block;
    background-color: #ec2f3f;
    width: 98%;
    padding: 3% 0;
    text-align: center;
    color: #fff;
}
.pinpai-manger-text>h3 
{
	margin: 0;
	color: #5b1f41;
	font-size: 24px;
}
.pinpai-manger-text>p
{
	margin: 0px;
	font-size:10px;
	word-break:break-all;
	color:#8b5272;
}
.pinpai-manger-single>img
{
	width: 46%;
	float: left;
	margin: 2%;
}
.pinpai-erp-nav
{
	width: 80%;
	position: relative;
	left: 8%;
}
.pinpai-erp-content
{
	margin-top: -13%;
}
.pinpai-develop-nav
{
	width: 75%;
	position: relative;
	left: -7%;
}
.pinpai-develop-content
{
	margin-top: -2%;
}
.pinpai-hardware-nav
{
	width: 80%;
	position: relative;
	left: 8%;
}
.pinpai-hardware-content
{
	margin-top: -13%;
}
.pinpai-footer
{
	height: 0;
	width: 80%;
	padding-bottom:28%; 
	background-image: url(imgs/pinpai-footer.png);
	background-size: 100% 100%;
	margin:0 auto;
	position: relative;
}
.pinpai-button
{
    width: 35%;
    position: absolute;
    left: 31%;
    top: 36%;
}
.pinpai-qr
{
	width: 20%;
	position:relative;
	left:32%; 
	margin-top: 8%;
}
