

.icon-sbfw {
    width: 65px;
    height: 80px;
    background-position: 0 0;
}

.icon-bqfw {
    width: 80px;
    height: 80px;
    background-position: -88px 0;
}

.icon-jyq {
    width: 80px;
    height: 80px;
    background-position: -187px 0;
}

.icon-flfw {
    width: 80px;
    height: 80px;
    background-position: -280px 0;
}

.icon-zlfw {
    width: 80px;
    height: 80px;
    background-position: -281px -212px;
}

.icon-zxq {
    width: 80px;
    height: 80px;
    background-position: -88px -212px;
}

.icon-jyq {
    width: 80px;
    height: 80px;
    background-position: -186px 0;
}

.icon-dz {
    width: 80px;
    height: 80px;
    background-position: 11px -212px;
}

.icon-gj {
    width: 80px;
    height: 80px;
    background-position: -183px -212px;
}

.icon-vip {
    width: 80px;
    height: 80px;
    background-position: -368px -212px;
}

.icon4 {
    width: 17px;
    height: 17px;
    background-position: 0 -91px
}

.icon5 {
    width: 18px;
    height: 18px;
    background-position: -26px -92px
}

.icon6 {
    width: 18px;
    height: 18px;
    background-position: -48px -93px
}

.icon7 {
    width: 18px;
    height: 18px;
    background-position: -70px -93px
}

.icon9 {
    width: 70px;
    height: 80px;
    background-position: -96px -132px
}

.icon10 {
    width: 70px;
    height: 80px;
    background-position: -192px -129px
}

.mark {
    padding: 0 4px;
    border: 1px solid #009934;
    color: #009934;
    vertical-align: middle
}

.bj-service {
    padding: 40px 0 ;
    font-family:microsoft yahei;
}

.bj-service-other {
    padding: 14px 0 15px;
}

.logoMax {
    height: 55px;
    background: url(../img/logo.png) no-repeat center 0;
}

.bj-logo-wrap {
    text-align: center;
    margin: 120px 0 40px;
}

.bj-panel-warp .count-li {
    text-align: left;
    padding: 0 10px;
    margin: 40px 0 10px;
    display: inline-block;
    border-right: 1px solid #d8d8d8;
    height: 18px;
    line-height: 18px;
}

.bj-panel-warp .count-li:first-child {
    padding: 0 10px 0 0
}

.bj-panel-warp .count-li:last-child {
    border: 0
}

.bj-panel-warp .bj-search-content {
    width: 800px;
    margin: 15px auto
}

.bj-panel-warp .bj-search-content .search-box {
    height: 46px;
    width: 798px;
    padding: 1px
}

.bj-panel-warp .bj-search-content .search-box .text-msg {
    padding: 12px 9px 12px 35px;
    width: 580px
}

.bj-panel-warp .bj-search-content .search-box .btn {
    height: 48px
}

.bj-panel-warp .bj-panel-title {
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    position: relative
}

.bj-panel-warp .bj-panel-more {
    font-family: simsun;
    float: right;
    color: #009934;
    font-size: 12px;
}

.bj-panel-dt-wrap {
    width: 278px;
    float: left;
}

.bj-panel-warp .report-wrap {
    width: 678px;
    font-family:microsoft yahei;
}

.bj-panel-warp .bj-panel-title p {
    width: 180px;
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #fff;
    font-size: 26px;
    font-weight: bold;
    color: #444;
}

.bj-panel-warp .bj-panel-title span {
    height: 1px;
    background: #e8e8e8;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: -1;
}

.bj-panel-dt-wrap .bj-panel-title, .bj-panel-dt-wrap .bj-panel-title p {
    text-align: left;
    height: 50px;
    line-height: 50px;
}

.bj-panel-dt-wrap .bj-dt {
    border-bottom: 1px solid #d6d6d6;
}

.bj-panel-dt-block {
    margin-left: 33px;
    font-family:microsoft yahei;
}

.index-mt-panel .index-mt-first {
    font-family: simsun;
    padding: 10px;
    border: 1px solid #d6d6d6;
    overflow: hidden;
    color: #888;
    display: block;
}

.index-mt-panel .index-mt-first .index-mt-img {
    float: left;
    width: 132px;
    height: 110px;
    overflow: hidden;
}

.index-mt-panel .index-mt-first .index-mt-title {
    font-size: 14px;
    color: #666;
    float: left;
    width: 504px;
    font-weight: bold;
    margin: 15px 0 0 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*common-mt*/
.bj-panel-warp .index-mt-common {
    height: 46px;
    line-height: 46px;
    width: 100%;
    float: left;
    font-size: 14px;
    color: #666;
    font-family: simsun;
}

.bj-panel-warp .mt-common-title {
    width: 380px;
    float: left;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 12px;
}

.bj-panel-warp .mt-common-time {
    float: right;
    color: #888;
    font-size: 12px;
    margin-right: 15px;
}

.index-mt-panel .index-mt-first .index-mt-info {
    float: left;
    font-size: 12px;
    width: 504px;
    height: 48px;
    overflow: hidden;
    line-height: 24px;
    margin: 10px 0 0 14px;
}

/*æ–°å¢žé¦–é¡µä¸‹æ–¹ æˆ‘ä»¬çš„å®¢æˆ·*/
.customer-block {
    margin-top: 40px;
    font-family:microsoft yahei;
}

.customer-wrap {
    overflow: hidden;
    width: 981px;
    margin: 50px auto 0;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
}

.customer-wrap .customer-wrap-row {
    width: 327px;
    float: left;
}

.customer-wrap .cus-row-big {
    width: 163px;
    height: 163px;
    float: left;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    overflow: hidden;
}

.customer-wrap .cus-row-small {
    float: left;
    height: 81px;
    width: 80px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    overflow: hidden;

}

.customer-wrap .cus-row-common {
    width: 161px;
    height: 81px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}

.customer-wrap .cus-row-bottom {
    float: left;
    width: 327px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}

.customer-wrap .cus-bottom-panel {
    width: 162px;
    float: left;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}

.customer-wrap .cus-bottom-panel:first-child {
    width: 163px;
}

.index-mt-panel .index-mt-first .index-mt-time {
    width: 504px;
    text-align: right;
    float: left;
    font-size: 12px;
    margin: 5px 0 0 14px;
}

.bj-panel-warp .bj-panel-block {
    height: 240px;
    margin: 20px 0;
}

.bj-panel-warp .bj-panel-block .bj-kh-div {
    float: left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 152px;
    border: 1px solid #eee;
    margin-right: 13px;
}

.bj-panel-warp .bj-panel-block .bj-kh-div:last-child {
    margin: 0;
}

.bj-panel-warp .bj-panel-block-ul li {
    float: left;
    width: 100%;
    height: 41px;
    line-height: 41px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    font-family: simsun;
    color: #666;
    font-size: 14px;
}

.bj-panel-warp li .ul-time {
    float: right;
    font-size: 12px;
    color: #999;
}

.bj-panel-warp li .ul-info {
    float: left;
}

.bj-search-box {
    position: relative;
}

.bj-search-box .advanced-search {
    display: inline-block;
    float: right;
    margin-left: 5px;
    height: 40px;
    width: 79px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #009934;
    margin: 0;
    padding: 0;
    background: #c4e7d0;
    color: #018b30;
    font-size: 14px;
    font-family: simsun, arial;
}

.search-box {
    position: relative;
    padding: 1px;
    height: 40px;
    background: #009934;
    width: 698px;
    float: left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.search-box .search-select {
    position: absolute;
    top: 6px;
    left: 2px
}

.search-box .search-select .sel {
    border: 0
}

.search-box .text-msg {
    padding: 9px 9px 9px 35px;
    width: 540px;
    height: 20px;
    border: 1px solid #fff;
    background: #fff url(../img/search.png) no-repeat 10px center;
    font-size: 16px;
    color: #777;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.search-box .text-msg:-ms-input-placeholder {
    font-size: 12px;
    color: #9c9c9c;
    font-weight: normal
}

.search-box .text-msg::-webkit-input-placeholder {
    font-size: 12px;
    color: #9c9c9c
}

.search-box .text-msg::-moz-placeholder {
    font-size: 12px;
    color: #9c9c9c
}

.active .text-msg {
    border-color: #009934
}

.search-box .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 42px;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #009934;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-family: "microsoft yahei"
}

.search-box .bj-search-btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.mTabTa {
    height: 24px;
    color: #999;
    font-size: 14px;
    line-height: 24px
}

.mTabTa i {
    display: inline-block;
    margin: 0 5px;
    height: 24px;
    color: #009934;
    vertical-align: middle;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px
}

.mTab a {
    color: #6d9ee0;
    font-size: 14px
}

.mTab a.cur {
    color: #333;
    font-weight: bold
}

.bj-search-content {
    position: relative;
    width: 700px;
    margin: 0 auto
}

.bj-service-plane li {
    position: relative;
    float: left;
    margin-right: 49px;
    width: 210px;
    text-align: center
}

.bj-service-plane li.last-li {
    margin: 0;
}
.bj-service-plane li a {
    display: block;
    width: 210px;
    height: 210px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #999;
    -webkit-transition: 0 ease-out;
    -moz-transition: 0 ease-out;
    -o-transition: 0 ease-out;
    transition: 0 ease-out
}

.bj-service-plane li a:hover {
    text-decoration: none
}

.bj-service-plane li a.ha:hover, .bj-service-plane li.cur a.ha {
    border-color: #e67762
}

.bj-service-plane li a.hb:hover, .bj-service-plane li.cur a.hb {
    border-color: #fbb972
}

.bj-service-plane li a.fl:hover, .bj-service-plane li.cur a.fl {
    border-color: #70aaf1
}

.bj-service-plane li a.hc:hover, .bj-service-plane li.cur a.hc {
    border-color: #78c497
}

.bj-service-plane li .tit {
    margin-bottom: 10px;
    color: #666;
    font-size: 18px;
    font-family: "microsoft yahei"
}

.bj-service-plane li .img {
    padding: 30px 0 0;
    height: 100px;
    text-align: center
}

.bj-service-plane li span {
    display: inline-block;
    margin: 0 2px
}

.bj-service-plane a:hover .icon {
    animation: bounce 0.3s ease 0s 1;
    -webkit-animation: bounce 0.3s ease 0s 1;
    -moz-animation: bounce 0.3s ease 0s 1
}

.time {
    overflow: hidden;
    margin: auto;
    width: 470px;
    height: 25px;
    color: #999;
    line-height: 25px
}

.timeTi {
    float: left;
    margin: 1px 0 0
}

.timeCi {
    float: left;
    margin-left: 5px
}

#scrollDiv {
    overflow: hidden;
    width: 360px;
    height: 25px;
    line-height: 25px
}

#scrollDiv li {
    height: 25px
}

#scrollDiv li a {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 14px
}

.bgad .bgad-auto {
    position: relative;
    margin: auto;
    width: 1100px
}

.wxMs {
    position: absolute;
    top: 90px;
    left: 140px;
    color: #fff
}

.wTit {
    font-size: 32px;
    font-family: "microsoft yahei"
}

.wCon {
    margin: 10px 0 0;
    color: #e7f6fa;
    font-size: 16px;
    font-family: "microsoft yahei"
}

.sx {
    padding: 25px 0;
    background: #fff
}

.sx-auto {
    margin: auto;
    width: 730px
}

.sx .search-box .text-msg {
    width: 622px
}
.bgf {
    background: #fff
}



.pLis dl {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff
}

.pLis dt {
    position: relative;
    float: left;
    width: 160px
}

.pLis dt em {
    position: absolute;
    top: -40px;
    left: -40px;
    display: inline-block;
    width: 65px;
    height: 65px;
    background: url(../img/bz.png) no-repeat
}

.pLis dd.mTa {
    float: left;
    width: 540px
}

.pLis dd.mTb {
    float: right;
    width: 155px;
    text-align: center
}

.pLis dd.mTb .jg {
    font-size: 14px
}

.pLis dd.mTb .jg i {
    color: #009934;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif
}

.pLis dd.mTb .jg s {
    margin: 0 5px;
    color: #009934;
    font-size: 20px
}

.pLis dd.mTa .tit a {
    color: #333;
    font-size: 20px;
    font-family: "microsoft yahei"
}

.pLis dd.mTa .con {
    margin: 15px 0 0;
    color: #666
}

.pLis dd.mTa .min {
    margin: 25px 0 0;
    color: #999
}

.pLis dd.mTa .min span {
    display: inline-block;
    margin: 0 15px 0 0
}

.pLit li dd a, .pLis dd.mTb a {
    text-decoration: underline
}

.pLit li dd .tit a, .pLit li dd a.bts, .pLis dd.mTb a.btons {
    text-decoration: none
}

.btons {
    display: inline-block;
    width: 140px;
    height: 45px;
    border: 0;
    border-bottom: 3px solid #085f26;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #009934;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    font-family: "microsoft yahei";
    line-height: 45px;
    cursor: pointer
}

.btons:hover {
    background: #085f26;
    color: #fff;
    text-decoration: none
}

.pLit {
    overflow: hidden;
    width: 1000px
}

.pLit ul {
    width: 1100px
}

.pLit li {
    float: left;
    margin-right: 10px;
    width: 327px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff
}

.pLit li dl {
    padding: 20px
}

.pLit li dt {
    width: 150px
}

.pLit li dd.mTa {
    width: 130px
}

.pLit li dd .bts {
    padding: 8px 20px;
    border: 1px solid #c5c5c5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #009934
}

.pLit li dd .bts:hover {
    border-color: #009934;
    background: #009934;
    color: #fff;
    text-decoration: none
}

.pLit dd.mTa .min {
    margin: 10px 0 10px;
    line-height: 24px
}

.pLit dd.mTa .tit a {
    font-size: 18px
}


.bg {
    background: url(../img/bg.png) center
}

.tmain {
    background: #fff;
    padding-bottom: 105px
}

.main-auto form {
    width: 710px;
    margin: 10px auto 0;
    overflow: hidden
}

.main-auto .bj-search-warp {
    position: relative;
    display: block;
    height: 40px;
    overflow: hidden;
    width: 620px;
    float: left;
    border: 1px solid #009934
}

.main-auto .bj-search-warp input {
    display: inline-block
}

.main-auto form .advanced-search {
    display: inline-block;
    float: right;
    margin-left: 5px;
    height: 40px;
    width: 79px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #009934;
    margin: 0;
    padding: 0;
    background: #c4e7d0;
    color: #018b30;
    font-size: 14px;
    cursor: pointer;
    font-family: simsun, "microsoft yahei", arial
}

.main-auto .bj-search-warp .search-text {
    display: inline-block;
    padding: 12px 9px 12px 35px;
    width: 450px;
    border: 0;
    font-size: 14px;
    background: #fff url(../img/search.png) no-repeat 11px center
}

.main-auto .bj-search-warp .search-text:-ms-input-placeholder {
    line-height: 15px;
    height: 15px
}

.main-auto .bj-search-warp .search-text::-webkit-input-placeholder {
    line-height: 15px;
    height: 22px
}

.main-auto .bj-search-warp #j-search-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    margin: 0;
    width: 122px;
    height: 40px;
    border: 0;
    line-height: 40px;
    text-align: center;
    background: #009934;
    color: #fff;
    font-size: 14px;
    font-family: simsun, "microsoft yahei", arial
}


.fo-table {
    margin-bottom: 20px
}


.hotDm {
    position: relative;
}

.hot a, .hotDm a, .hotDm1 a {
    display: inline-block;
    margin: 0 7px 10px 0;
    padding: 5px 12px;
    border: 1px solid #eaeaea;
    color: #333
}

.hotDm a {
    padding-left: 28px
}

.hotDm .hot_bq {
    padding-left: 12px
}

.hotDm a span {
    height: 12px;
    width: 12px;
    border: 1px solid #009934;
    display: inline-block;
    position: absolute;
    left: 8px;
    top: 8px
}

.hot a:hover, .hotDm a:hover, .hotDm1 a:hover {
    border-color: #009934;
    background: #69b382;
    color: #fff;
    text-decoration: none
}

.hotDm a:hover span {
    border-color: #fff
}

.hot a.cur, .hotDm a.cur, .hotDm1 a.cur {
    padding: 5px 12px 5px 28px;
    border-color: #009934;
    background: url(../img/cur.png) no-repeat 7px center #69b382;
    color: #fff
}

.hotDm a.cur span {
    border-color: #fff
}

.hot a.no-cur, .hotDm a.no-cur, .hotDm1 a.no-cur {
    padding: 5px 12px;
    border-color: #ddd;
    background: #ccc;
    color: #727272;
    cursor: default
}

.foTips .alert {
    display: none;
    margin-left: 150px;
    width: 282px
}

.foTips .cur {
    display: block
}

.foTips .coryright-alert {
    width: 213px
}

.sAdd span {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #e0e0e0;
    text-align: center;
    line-height: 30px;
    cursor: pointer
}
.sAdd span.sco {
    overflow: hidden;
    margin: 0 5px;
    width: 50px;
    border-width: 1px;
    background: #fff
}

.sAdd span.sco input {
    margin: 0;
    width: 100%;
    height: 30px;
    border: 0;
    text-align: center;
    line-height: 30px
}
.mtt {
    height: 34px;
    line-height: 34px
}

.ntit {
    margin: 10px 0 0
}

.ntit span {
    font-size: 14px
}

.ntit a {
    float: right;
    color: #666;
    text-decoration: underline
}

.ntit a:hover {
    color: #009934
}

.ntit a.autoAdd {
    float: none;
    margin-left: 10px;
    color: #bc0b0b;
    text-decoration: none
}

.ntit a.autoAdd:hover {
    color: #009934
}

.edxy {
    float: left;
    margin: 7px 0 0 10px
}

.selCur {
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #f9f9f9
}

.selCur a {
    float: left;
    display: inline-block;
    margin: 5px;
    width: 55px;
    height: 26px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #666;
    text-align: center;
    line-height: 26px
}

.selCur a:hover, .selCur a.cur {
    background: #009934;
    color: #fff;
    text-decoration: none
}

.listPor .pL, .conPo .cL {
    float: left;
    width: 780px
}

.listPor .pR, .conPo .cR {
    float: right;
    width: 205px
}

.forTo {
    position: relative
}

.forTo .forTs {
    position: absolute;
    top: 5px;
    right: 0
}

.forTo .forTs span {
    float: left;
    display: block;
    margin-right: 5px;
    padding-right: 10px;
    border: 1px solid #ccc;
    cursor: pointer
}

.forTo .forTs span:hover {
    border-color: #009934
}

.forTo .forTs span.cur {
    border: 1px solid #009934;
    background: #009934;
    color: #fff
}
.forTo .forTs i.foa {
    background-position: right 8px
}

.forTo .forTs i.fob {
    background-position: right -10px
}

.forTo .forTs i.foc {
    background-position: right -28px
}

.forTo .forTs i.fod {
    background-position: right -46px
}

.porList {
    overflow: hidden;
    width: 780px
}

.pLits {
    width: 800px
}

.pLits li {
    float: left;
    margin: 0 15px 15px 0;
    width: 185px;
    height: 290px;
    color: #999;
    line-height: 24px
}

.pLits li .img {
    width: 185px;
    height: 185px;
    background: #f0f0f0
}

.pLits li .name {
    margin: 8px 0 0
}

.pLits li a {
    color: #333
}

.pLits li i {
    color: #009934;
    font-weight: bold;
    font-size: 14px
}

.foTo .tit {
    padding: 8px 10px;
    border: 1px solid #e0e0e0;
    background: #f9f9f9;
    font-size: 14px
}

.foTo .con p {
    margin: 10px 0 0
}

.foTo .con .text {
    padding: 4px 10px;
    width: 182px
}

.foTo .con .sect {
    padding: 10px;
    width: 100%;
    border: 1px solid #e0e0e0
}

.foTo .con .btn, .sbTi .btn {
    padding: 8px 0;
    width: 100%;
    font-size: 14px
}

.sbTi {
    margin: 20px 0 0;
    padding: 15px 0 0;
    border-top: 1px solid #f0f0f0
}

.sbTi .tit {
    text-align: center;
    font-size: 20px;
    font-family: "microsoft yahei"
}

.conMsg {
    padding: 15px;
    background: #fff
}

.conMsg dt {
    float: left;
    width: 400px;
    height: 260px;
    background: #f0f0f0
}

.conMsg dd {
    margin-left: 420px;
    line-height: 22px
}

.conMsg dd .tit span {
    font-size: 20px;
    font-family: "microsoft yahei"
}

.conMsg dd .tit i {
    margin-left: 15px;
    color: #999
}

.conMsg dd .con {
    margin: 10px 0;
    color: #999
}

.conMsg dd .jg {
    margin: 10px 0 5px;
    padding: 10px 0 0;
    border-top: 1px solid #f0f0f0;
    font-size: 14px
}

.conMsg dd .jg i {
    color: #009934;
    font-weight: bold;
    font-size: 20px
}

.tabCon {
    padding: 20px;
    height: 800px;
    background: #fff
}

.yTmsg {
    padding: 15px;
    background: #fff;
    color: #999;
    line-height: 20px
}

.yTmsg .tit {
    color: #333;
    font-weight: bold;
    font-size: 14px
}

.yTmsg .utj a {
    float: right;
    color: #999
}

.yTmsg .utj a.name {
    float: left;
    color: #333
}

.yTmsg .utj li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e0e0e0
}

.yTmsg .utj li.end {
    margin: 0;
    padding: 0;
    border: 0
}

.buy {
    padding: 0 0 20px
}

.buy .step {
    position: relative;
    margin: auto;
    width: 790px;
    height: 22px;
    background: url(../img/step2.png) no-repeat
}

.buy .step span {
    position: absolute;
    top: 30px;
    color: #666;
    font-size: 12px
}

.buy .step span.sa {
    left: 0
}

.buy .step span.sb {
    left: 347px
}

.buy .step span.sc {
    right: 0
}

.buy .step1 span.sa {
    color: #4da635
}

.buy .step2 span.sa, .buy .step2 span.sb {
    color: #4da635
}

.buy .step3 span.sa, .buy .step3 span.sb, .buy .step3 span.sc {
    color: #4da635
}

.buy .step2 {
    background-position: 0 -21px
}

.buy .step3 {
    background-position: 0 -43px
}

.buy .step4 {
    background-position: 0 -64px
}

.sText .title {
    padding: 0;
    color: #666;
    font-size: 16px;
    font-family: "microsoft yahei"
}

.sText .title span {
    margin: 0 5px;
    color: #009934
}

.sjTab table {
    width: 100%
}

.sjTab th {
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
    background: #f0f0f0;
    text-align: left;
    text-align: center;
    font-weight: normal
}

.sjTab td {
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
    text-align: center
}

.sjTab tr:hover td {
    background: #f7f7f7
}

.sjTab dt {
    float: left;
    width: 90px
}

.sjTab dd {
    margin-left: 105px;
    color: #999;
    line-height: 20px
}

.sjTab dd a {
    color: #333;
    font-size: 14px
}



.tlis a {
    float: left;
    display: block;
    margin-right: 5px;
    padding: 4px 15px;
    border: 1px solid #e9e9e9;
    background: #fff;
    color: #666;
    cursor: pointer
}

.tlis a:hover {
    border-color: #009934;
    text-decoration: none
}

.tlis a.cur {
    border: 1px solid #009934;
    background: #009934;
    color: #fff
}

.pay {
    padding: 20px;
    background: #fff
}

.secvr {
    margin-top: 10px;
    padding-left: 65px;
    height: 57px;
    background: url("../img/svr.gif") no-repeat;
    color: #999
}

.secvr .tit {
    padding: 5px 0 10px;
    color: #333;
    font-size: 24px;
    font-family: "microsoft yahei", Microsoft YaHei
}

.secvr + .alert-success {
    display: none
}

.pay .odr {
    overflow: hidden;
    margin-top: 25px;
    width: auto;
    border: 1px solid #e9e9e9;
    _width: 98%
}

.pay .odr table {
    width: 100%
}

.pay .odr th, td {
    padding: 5px 10px
}

.pay .odr th {
    background: #f0f0f0;
    text-align: left;
    font-weight: normal;
    font-size: 12px
}

.pay .user-moy {
    margin: 15px 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
    font-weight: bold;
    font-size: 14px;
    font-family: "microsoft yahei", Microsoft YaHei
}

.pay .user-moy u {
    color: #f60
}

.pay .user-moy a {
    margin: 0 5px
}

.pay .pay-fl {
    margin-left: 153px
}

.pay .pay-tit {
    display: none;
    color: #333;
    font-weight: bold;
    font-size: 14px
}

.pay .pay-con {
    display: none;
    padding: 15px;
    border: 1px solid #dadada;
    border-width: 0 1px 1px
}

.pay .pay-con .itt {
    color: #999
}

.pay .pay-con .itt span {
    color: #333;
    font-weight: bold
}

.pay .pay-con .bank {
    overflow: hidden;
    padding: 15px 15px 0
}

.pay .pay-con .bank li {
    float: left;
    overflow: hidden;
    margin: 10px;
    width: 170px;
    height: 50px;
    border: 1px solid #d3d3d3;
    cursor: pointer
}

.pay .pay-con .bank li label {
    display: block;
    overflow: hidden;
    padding: 12px 10px 8px;
    width: 150px;
    cursor: pointer
}

.pay .pay-con .bank2 li label {
    padding: 5px 15px 0
}

.pay .pay-con .bank li input, .pay .pay-con .bank li img {
    vertical-align: middle
}

.pay .pay-tj {
    margin: 25px 0 15px;
    text-align: center
}

.pay .most {
    margin-left: 23px;
    *margin: 10px 0 0 27px;
    _margin: 10px 0 0 35px
}

.pay .control-group {
    overflow: hidden;
    height: 40px
}

.tgUs {
    background: #fff
}

.tgUs h2 {
    padding: 50px 0;
    text-align: center;
    font-size: 24px;
    font-family: "microsoft yahei"
}

.tgsp li {
    float: left;
    width: 25%;
    text-align: center;
    line-height: 22px
}

.tgsp li .tit {
    margin: 10px 30px;
    font-size: 16px;
    font-family: "microsoft yahei"
}

.tgsp li .con {
    margin: 0 30px;
    color: #999
}

.sOuser {
    margin: 50px auto
}

.sOuser li {
    padding: 20px 50px;
    width: 390px;
    background: #fafafa
}

.sOuser li .tit {
    text-align: center;
    font-size: 20px;
    font-family: "microsoft yahei"
}

.sOuser li .con {
    margin: 10px auto;
    color: #999;
    line-height: 22px
}

.sOuser li .tn {
    margin: 10px 0 0;
    text-align: center
}

.sOuser li .tn .btn {
    width: 100px;
    text-align: center
}

.tma {
    margin: auto;
    padding: 50px 100px;
    width: 550px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff
}

.tma .fo-table .fo-tit {
    width: 80px;
    font-weight: normal
}

.tma .fo-table .fo-con {
    margin-left: 90px
}

.tma .controls input[type="text"] {
    width: 355px
}

.tgCon .tit {
    font-size: 16px;
    font-family: "microsoft yahei"
}

.tgCon .con {
    margin: 10px 0 0;
    color: #6f7786;
    line-height: 24px
}

.tgCon li {
    padding: 15px 0
}


.pRight .pcon {
    color: #666;
    line-height: 26px
}

.pList {
    overflow: hidden;
    margin: auto;
    width: 690px
}

.pList ul {
    width: 780px
}

.pList li {
    float: left;
    overflow: hidden;
    margin: 10px;
    width: 152px;
    height: 130px;
    text-align: center
}

.pList li .img {
    margin-bottom: 5px;
    width: 150px;
    height: 100px;
    border: 1px solid #e0e0e0
}

.pList li a {
    color: #333
}

.pocTi {
    line-height: 22px
}

.pocTi li, .pocTi dl {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #e0e0e0
}

.pocTi li .tit a, .pocTi dd a {
    color: #333;
    font-size: 16px;
    font-family: "microsoft yahei"
}

.pocTi li .con, .pocTi dd .con {
    margin: 5px 0 10px;
    color: #999
}

.pocTi li .tim, .pocTi dd .tim {
    color: #999
}

.pocTi li .tim span, .pocTi dd .tim span {
    margin-right: 20px
}

.pocTi dt {
    float: left;
    overflow: hidden;
    padding: 2px;
    width: 150px;
    height: 100px;
    border: 1px solid #e0e0e0
}

.pocTi dd {
    margin-left: 168px
}

.tConent {
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff
}

.tConent h2 {
    padding-bottom: 20px;
    border-bottom: 1px dashed #e0e0e0;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    font-family: "microsoft yahei"
}

.adimg {
    position: relative;
    float: left;
    overflow: hidden;
    width: 740px;
    height: 290px
}
.focusWarp {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 290px
}

.imgList {
    position: absolute
}

.imgList li {
    float: left;
    height: 290px
}

.imgList_two {
    position: absolute;
    top: 100px;
    z-index: 10
}

.imgList_two li {
    float: left;
    text-align: center
}

.imgList_two li img {
    margin-left: -330px
}

.imgBtn {
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 10
}

.btnWarp {
    overflow: hidden
}
.sizeBox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 300px
}

.prev, .next {
    display: inline-block
}

.prev {
    left: 20px
}

.next {
    right: 20px;
    background-position: right top
}
.thumNext {
    background-position: right top
}

.tol {
    float: right;
    padding: 15px;
    width: 215px;
    height: 258px;
    border: 1px solid #e9e9e9;
    background: #fff
}

.tol .tit {
    font-size: 16px;
    font-family: "microsoft yahei"
}

.tol ul {
    margin: 10px 0 0;
    line-height: 28px
}

.tol a {
    color: #666
}

.ico1 {
    background-position: 0 1px
}

.ico2 {
    background-position: -26px 0
}

.ico3 {
    background-position: -55px 0
}

.ico4 {
    background-position: -84px 0
}

.ico5 {
    background-position: -117px 0
}

.porNav {
    border: 1px solid #ddd;
    border-bottom: 1px solid #009934;
    background: #fff
}

.porNav li {
    float: left;
    height: 40px
}

.porNav li a {
    display: block;
    padding: 0 25px;
    height: 40px;
    color: #333;
    font-size: 14px;
    line-height: 40px
}

.porNav li.cur a, .porNav li:hover a {
    background: #009934;
    color: #fff;
    text-decoration: none
}

.porNav li.cur .ico1, .porNav li:hover .ico1 {
    background-position: 0 -24px
}

.porNav li.cur .ico2, .porNav li:hover .ico2 {
    background-position: -26px -24px
}

.porNav li.cur .ico3, .porNav li:hover .ico3 {
    background-position: -55px -24px
}

.porNav li.cur .ico4, .porNav li:hover .ico4 {
    background-position: -84px -24px
}

.porNav li.cur .ico5, .porNav li:hover .ico5 {
    background-position: -117px -24px
}

.porNav li.lines {
    display: block;
    margin: 5px 0 0;
    width: 1px;
    height: 30px;
    background: #f0f0f0
}

.porNav ul {
    float: left
}

.porNav .searchMin {
    float: left;
    margin: 7px 0 0 20px;
    padding: 0 5px;
    width: 183px;
    height: 24px;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.porNav .searchMin ::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px
}

.porNav .searchMin ::-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-size: 12px
}

.porNav .searchMin .tx {
    width: 100px;
    width: 160px;
    height: 22px;
    border: 0
}

.porNav .searchMin .sch {
    float: right;
    width: 20px;
    height: 24px;
    border: 0;
    background: url(../img/search.png) no-repeat center center;
    cursor: pointer
}

.porNav .pubfa {
    float: right;
    margin: 3px
}

.focuTable {
    background: #fff
}

.focuTable table {
    width: 100%;
    border: 1px solid #e6e6e6
}

.focuTable th {
    padding: 15px;
    border: 1px solid #fce4df;
    border-width: 1px 0;
    background: #fdf5f4;
    text-align: left;
    font-weight: normal
}

.focuTable td {
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
    color: #666
}

.focuTable td a {
    color: #666;
    font-size: 14px
}

.zd {
    display: inline-block;
    margin-right: 5px;
    padding: 1px 6px;
    border: 1px solid #08a5ca;
    color: #08a5ca
}

.hot {
    display: inline-block;
    margin-right: 5px;
    padding: 1px 6px;
    border: 1px solid #009934;
    color: #009934
}

.img {
    display: inline-block;
    margin-right: 5px;
    padding: 1px 6px;
    color: #7fb66a
}

.pub {
    padding: 30px;
    border: 1px solid #e9e9e9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff
}
.pub .pubTi .inti {
    padding: 10px;
    width: 556px;
    height: 20px;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.pub .pubTi .insl {
    width: 120px;
    height: 42px;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.pub .pubCi textarea {
    padding: 10px;
    width: 680px;
    height: 240px;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.pub .btn {
    padding: 8px 0;
    width: 100px;
    font-size: 14px
}

.dNav a {
    display: inline-block;
    color: #333
}

.dNav u {
    display: inline-block;
    margin: 0 10px;
    color: #999;
    font-family: Arial, Helvetica, sans-serif
}

.fCon {
    border: 1px solid #ddd;
    border-bottom: 0
}

.fTit {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background: #f7f7f7
}
.fTit .ftBtn {
    float: left;
    margin: 0 0 0 15px;
    font-size: 14px
}

.fNtit {
    padding: 20px 15px;
    border-bottom: 1px solid #ddd;
    background: #fff
}

.fNtit h3 {
    float: left;
    color: #666;
    font-weight: normal;
    font-size: 18px;
    font-family: "microsoft yahei"
}

.fNtit .zd {
    float: left;
    display: inline-block;
    margin: 2px 8px 0 0;
    padding: 1px 6px;
    border: 1px solid #08a5ca;
    color: #08a5ca
}

.fNtit .hot {
    float: left;
    display: inline-block;
    margin: 2px 8px 0 0;
    padding: 1px 6px;
    border: 1px solid #009934;
    color: #009934
}

.fNtit .img {
    float: left;
    display: inline-block;
    margin: 2px 8px 0 0;
    padding: 1px 6px;
    border: 1px solid #7fb66a;
    color: #7fb66a
}

.fNtit .btn {
    background: #fff
}

.fNtit .btn:hover {
    background: #f0f0f0
}

.fConLc dl {
    border-bottom: 1px solid #ddd;
    background: #fbfbfb
}

.fConLc dt {
    float: left;
    width: 180px;
    text-align: center
}

.userImg {
    overflow: hidden;
    margin: 30px auto 10px;
    padding: 2px;
    width: 100px;
    height: 100px;
    border: 1px solid #e0e0e0;
    background: #fff
}

.fConLc dd {
    margin-left: 180px;
    padding: 25px;
    background: #fff
}

.tecont {
    min-height: 160px
}

.utime {
    margin: 10px 0 0;
    color: #999;
    text-align: right
}

.utime span, .utime a {
    display: inline-block
}

.utime a.remo {
    width: 90px;
    height: 30px;
    border: 1px solid #fff;
    border-width: 1px 1px 0;
    color: #666;
    text-align: center;
    line-height: 30px
}

.utime a.cur {
    border-color: #f0f1f2;
    background: #f7f8fa
}

.utime a:hover {
    color: #009934;
    text-decoration: none
}

.reMcn {
    display: none;
    margin: -1px 0 0;
    padding: 20px 20px 10px;
    border: 1px solid #f0f1f2;
    background: #f7f8fa
}

.fConLc .reMcn dl {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #d7d7d7;
    background: 0
}

.fConLc .reMcn dt {
    width: 40px;
    height: 40px
}

.fConLc .reMcn dt img {
    width: 100%
}

.fConLc .reMcn dd {
    margin-left: 55px;
    padding: 0;
    background: 0;
    line-height: 22px
}

.vsp {
    text-align: right
}

.vsp .btn {
    background: #fff
}

.vsp .btn:hover {
    background: #f0f0f0
}

.pan {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    background: #fbfbfb
}

.pan .pagination {
    float: right;
    margin: 0;
    text-align: left
}

.pubRem {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background: #fbfbfb
}

.pmCo {
    padding: 10px;
    border: 1px solid #e0e0e0;
    background: #fff
}

.pmCo textarea {
    width: 100%;
    height: 120px;
    border: 0
}

.pubRem .btn {
    width: 80px;
    height: 20px;
    font-size: 14px;
    line-height: 20px
}

.adFoTab {
    margin: 15px 0 0;
    padding: 15px 0 0;
    border-top: 1px dotted #e0e0e0
}

.file-text {
    display: inline-block;
    height: 32px;
    line-height: 32px
}

.moxie-shim, .moxie-shim-html5 {
    left: -144px;
    width: 224px
}

.submit-content {
    width: 224px
}

.submit-content p {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px
}

.submit-content span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis
}

.submit-content a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    float: right;
    font-family: tahoma;
    font-size: 20px;
    cursor: pointer;
    color: #999;
    display: none
}

.submit-content a:hover {
    color: #e67762
}

.confirm-btn {
    position: absolute;
    bottom: 40px;
    width: 100px;
    height: 33px;
    left: 50%;
    margin-left: -50px;
    line-height: 33px;
    margin-top: 25px;
    background-color: #0abe71;
    border: 1px solid #029b5a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.confirm-btn p {
    padding: 0 20px;
    font-family: 'simsun';
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    letter-spacing: 12px
}

.confirm-btn div {
    position: absolute;
    border-color: transparent transparent transparent #018840;
    border-style: solid solid solid solid;
    border-width: 6px 6px 6px 6px;
    top: 11px;
    right: 7px
}

.confirm-btn:hover {
    color: #666;
    cursor: pointer
}

.img-hover {
    width: 137px;
    height: 112px;
    margin-left: 5px;
    position: relative;
    display: inline-block;
    border: 1px solid #e0e0e0
}

.img-hover div {
    position: absolute;
    width: 100%;
    height: 24px;
    line-height: 24px;
    bottom: 0;
    text-align: center;
    background-color: rgba(157, 157, 157, 0.6)
}

.img-hover div span {
    display: block;
    color: #fff;
    font-family: 'simsun';
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.zbj-dd-nav ul li.img-hover {
    float: left;
    margin: 20px 0 0 21px;
    width: 137px;
    height: 112px;
    position: relative;
    border: 1px solid #e0e0e0
}

.zbj-dd-nav ul li.img-hover div {
    position: absolute;
    width: 100%;
    height: 24px;
    line-height: 24px;
    bottom: 0;
    text-align: center;
    background-color: rgba(157, 157, 157, 0.6)
}

.zbj-dd-nav ul li.img-hover div span {
    display: block;
    color: #fff;
    font-family: 'simsun';
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.zbj-dd-xq-list {
    width: 789px;
    border: 1px solid #d2d2d2;
    margin-top: 20px
}

.zbj-dd-xq-list-nav {
    width: 100%;
    height: 46px;
    background-color: #00ab58
}

.zbj-dd-xq-list-nav ul {
    float: left;
    width: 772px
}

.zbj-dd-xq-list-nav ul li {
    float: left;
    height: 46px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: 'simsun';
    font-size: 14px;
    line-height: 46px
}

.zbj-dd-xq-list-nav-blank {
    width: 12%
}

.zbj-dd-xq-list-nav-fwxx {
    width: 15%
}

.zbj-dd-xq-list-nav-lbxx {
    width: 13%
}

.zbj-dd-xq-list-nav-yfze {
    width: 10%
}

.zbj-dd-xq-list-nav-zhje {
    width: 10%
}

.zbj-dd-xq-list-nav-yfje {
    width: 10%
}

.zbj-dd-xq-list-nav-hxzf {
    width: 10%
}

.zbj-dd-xq-list-nav-tkje {
    width: 10%
}

.zbj-dd-xq-list-nav-zt {
    width: 9%
}

.zbj-dd-xq-list-nav-blank-fl {
    width: 12%
}

.zbj-dd-xq-list-nav-fwxx-fl {
    width: 14%
}

.zbj-dd-xq-list-nav-yfze-fl {
    width: 13%
}

.zbj-dd-xq-list-nav-zhje-fl {
    width: 13%
}

.zbj-dd-xq-list-nav-yfje-fl {
    width: 13%
}

.zbj-dd-xq-list-nav-hxzf-fl {
    width: 13%
}

.zbj-dd-xq-list-nav-tkje-fl {
    width: 13%
}

.zbj-dd-xq-list-nav-zt-fl {
    width: 9%
}

.zbj-dd-xq-list-scroll {
    width: 100%;
    max-height: 364px;
    overflow-y: auto;
    overflow-x: hidden
}

.zbj-dd-xq-list-scroll ul {
    float: left;
    width: 772px;
    border-bottom: 1px dashed rgba(51, 51, 51, .1);
    padding: 0 17px 0 0
}

.zbj-dd-xq-list-scroll ul li {
    float: left;
    height: 47px;
    text-align: center;
    color: #666;
    font-family: 'simsun';
    font-size: 12px;
    line-height: 46px
}

.zbj-dd-xq-list-scroll ul li p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.zbj-dd-nav-right-wrap a.bq-img {
    float: none;
    width: 137px;
    height: 112px;
    display: inline-block;
    padding: 0;
    border: 1px solid #e0e0e0
}

.zbj-dd-nav-right-wrap a.bq-img:hover {
    opacity: 1
}

.replace-icon {
    display: block;
    width: 137px;
    height: 112px;
    background: url("../img/replace_icon.png") no-repeat top left
}

.replace-icon1 {
    background-position: 0 0
}

.replace-icon2 {
    background-position: -137px 0
}

.replace-icon3 {
    background-position: -274px 0
}

.replace-icon4 {
    background-position: -411px 0
}

.replace-icon5 {
    background-position: -548px 0
}

.zbj-dd-xq-list-nav-blank input, .zbj-dd-xq-list-nav-blank-fl input {
    vertical-align: middle;
    margin-right: 15px
}

.loading-mask {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    display: none
}

.loading-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    vertical-align: middle
}

.btn-mask {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    text-align: center
}
/*å¢žåŠ é¦–é¡µå¼¹å‡ºä¿¡æ¯ 2015.5.12 zhongyuanyang*/
.brand-alert-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 200;
    opacity: 0;
    display: none
}

.brand-alert-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(23, 23, 23, 0.7)
}

.brand-alert-main {
    width: 541px;
    height: 371px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -230px;
    margin-top: -185px;
    background: #fff;
    position: relative;
}

.brand-alert-title {
    height: 47px;
    width: 100%;
    background: #1cba6e;
    line-height: 47px;
    margin-bottom: 36px
}

.brand-alert-title p {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding-left: 20px;
    display: inline-block;
    text-align: center
}

.brand-close {
    font-size: 26px;
    display: inline-block;
    color: #fff;
    float: right;
    text-align: center;
    margin-right: 4px;
    margin-top: 4px;
    height: 24px;
    width: 24px;
    line-height: 24px;
    background: #3ae291
}

.brand-close:hover {
    color: #fff;
}

.brand-alert-contain {
    width: 100%
}

.brand-alert-contain .brand-alert-left {
    width: 132px;
    float: left;
    margin-left: 30px;
    text-align: center
}

.brand-alert-contain .brand-alert-left p {
    font-size: 14px;
    color: #666;
    text-align: center;
    font-family: å®‹ä½“, Arial, Helvetica, sans-serif
}

.brand-alert-contain .brand-alert-right {
    height: 160px;
    width: 325px;
    float: left;
    margin-left: 26px;
    background: #c6fee3;
    border: 1px solid #91ceb1;
    position: relative
}

.brand-alert-contain .brand-alert-right:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -24px;
    top: 50px;
    border-style: dashed solid dashed dashed;
    border-width: 8px 12px;
    border-color: transparent #c6fee3 transparent transparent;
}

.brand-alert-contain .brand-alert-right:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -25px;
    top: 50px;
    border-style: dashed solid dashed dashed;
    border-width: 8px 12px;
    border-color: transparent #91ceb1 transparent transparent;
}

.brand-alert-contain .brand-alert-right p {
    padding: 8px 10px 8px 30px;
    line-height: 28px;
    color: #666;
    font-family: å®‹ä½“, Arial, Helvetica, sans-serif;
}

.brand-alert-bottom {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 36px
}



#btnsearForm span.red {
    margin: 0 16px 0 6px;
    line-height: 38px;
    float: left;
    display: block;
}

.inline {
    width: 100%;
    height: 0;
    border-bottom: 2px solid #e5e5e5;
    text-align: center;
    margin: 46px 0 36px 0;
    position: relative;
}
.fclist {
    width: 100%;
    height: auto;
}

.fclist li {
    width: 360px;
    height: 220px;
    overflow: hidden;
    float: left;
    margin-bottom: 20px;
}

.fclist li:nth-child(2n-1) {
    margin-right: 20px;
}

.fcimg {
    width: 360px;
    height: 220px;
    overflow: hidden;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.fcimg img {
    max-width: 360px;
    max-height: 220px;
}

.zzimg {
    width: 668px;
    overflow: hidden;
    border: 1px solid #ebebec;
    margin-top: 20px;
}

.zzimg img {
    width: 100%;
}

.changico {
    width: 80px;
    height: 95px;
    overflow: hidden;
    background: url(../img/ico-lxwm.png) no-repeat;
    display: block;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

.icolist .f5 {
    background-position: 0 0;
    margin-left: 26px;
}

.ui-dropdown:hover .f5 {
    background-position: -251px 0;
}

.icolist .f6 {
    background-position: -92px 0;
}

.icolist .f6:hover {
    background-position: -343px 0;
}

.icolist .f7 {
    background-position: -171px 0;
}

.ui-dropdown:hover .f7 {
    background-position: -422px 0;
}

/*åˆä½œä¼™ä¼´*/
.hzhblist {
    width: 100%;
    height: auto;
}

.hzhblist li {
    width: 216px;
    height: 80px;
    overflow: hidden;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

.hzhbimg {
    width: 216px;
    height: 80px;
    overflow: hidden;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    display: block;
}

.hzhbimg img {
    max-width: 216px;
    max-height: 80px;
}



.block-icon {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("../img/block-icon.png") no-repeat;
}

.block-circle {
    position: absolute;
    left: -38px;
    top: 15px;
}

.block-star {
    background-position: 0 -17px;
    vertical-align: text-top;
    padding: 0 4px;
    height: 12px;
}

.block-turn {
    height: 10px;
    background-position: 0 -29px;
    vertical-align: middle;
}

.block-list-title {
    height: 45px;
    line-height: 45px;
    font-family: 'simsun';
    padding-left: 20px;
    border-bottom: 1px dashed #dadada;
}

.block-list-title a {
    display: inline-block;
    width: 450px;
    font-family: 'simsun';
    font-weight: bold;
    font-size: 16px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.block-list-title a:hover {
    text-decoration: underline;
}

.block-list-title > span {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 22px;
}

.block-list-collect {
    cursor: pointer;
}

.block-list-content {
    position: relative;
    padding: 10px 20px 20px;
    height: 145px;
}

.block-list-content p {
    height: 90px;
    font-family: 'simsun';
    font-size: 14px;
    line-height: 30px;
    color: #666;
    overflow: hidden;
}

.block-list-time {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-family: 'simsun';
    color: #b1b1b1;
}




.retri-icon {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}


/* 2015/09/22 yuanzimin ä¸€å…ƒé—®è¯ŠæˆåŠŸçº¢åŒ… */
.yywz-success-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9999;
    /*display: none;*/
}

.yywz-draw {
    position: absolute;
    border: 1px solid #ccc;
    width: 384px;
    height: 384px;
    top: 50%;
    left: 50%;
    margin-top: -192px;
    margin-left: -192px;
    background: #fff url("../img/draw/yywz-draw.gif") no-repeat top left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.yywz-draw-close {
    display: block;
    position: absolute;
    width: 38px;
    height: 38px;
    right: 13px;
    top: 15px;
}

.yywz-draw-btn {
    display: block;
    position: absolute;
    width: 173px;
    height: 48px;
    right: 53px;
    bottom: 55px;
}

.yywz-drawed {
    position: absolute;
    width: 640px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -320px;
    display: none;
}

.yywz-drawed1 {
    background: url("../img/draw/drawed1.png") no-repeat left top;
}

.yywz-drawed1 .yywz-drawed-close {
    display: block;
    position: absolute;
    width: 38px;
    height: 38px;
    right: 24px;
    top: 58px;
}

.yywz-drawed1 .yywz-drawed-btn {
    display: none;
}

.yywz-drawed2 {
    background: url("../img/draw/drawed2.png") no-repeat left top;
}

.yywz-drawed2 .yywz-drawed-close {
    display: block;
    position: absolute;
    width: 38px;
    height: 38px;
    right: 44px;
    top: 23px;
}

.yywz-drawed2 .yywz-drawed-btn {
    display: block;
    position: absolute;
    width: 205px;
    height: 60px;
    left: 151px;
    bottom: 20px;
}

.yywz-drawed3 {
    background: url("../img/draw/drawed3.png") no-repeat left top;
}

.yywz-drawed3 .yywz-drawed-close {
    display: block;
    position: absolute;
    width: 38px;
    height: 38px;
    right: 21px;
    top: 15px;
}

.yywz-drawed3 .yywz-drawed-btn {
    display: block;
    position: absolute;
    width: 205px;
    height: 60px;
    left: 165px;
    bottom: 12px;
}




/*å•†æ ‡ä¹°å–è®¢å•è¯¦æƒ…  dujunyan 2015.10.28*/
.gmcategory a {
    margin-left: 0;
}

.gmcategory .fo-con {
    margin: -20px 0 0 60px;
}

/* 20151021.yuanzimin.ç½‘ç«™åœ°å›¾*/
.sitemap {
    width: 1190px;
    margin: 50px auto 0;
    overflow: hidden;
}

.sitemap-title {
    background-color: #009934;
    color: #fff;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    border-top: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.sitemap-content {
    width: 1190px;
    margin: 0 auto 50px;
    overflow: hidden;
    border-bottom: 1px solid #d3d3d3;
}

.sitemap-title-lite {
    border: 1px solid #d3d3d3;
    padding: 15px 0 15px 40px;
    background-color: #f7f6f6;
}

.sitemap-title-lite span {
    font-size: 14px;
    color: #545454;
    border-left: 5px solid #545454;
    padding-left: 10px;
    font-family: 'simsun';
    font-weight: bold;
}

.sitemap-item2 {
    width: 1148px; /* 20 + 20 + 2*/
    margin-top: 0;
    padding: 20px 0 20px 40px;
    border-top: 1px dashed #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.sitemap-item2 li {
    float: left;
    margin-top: 25px;
}

.sitemap-item2 li a {
    padding: 5px 8px;
}

.sitemap-item2 .sitemap-icon {
    margin-top: 3px;
}

.sitemap-category div:first-child {
    border-top: 0;
}
