@mixin icon-sprite{background:url(../images/icon-sprite.png) no-repeat; }
@mixin home{height:46px;width:45px;background-position: 0 0;}
@mixin money{height:47px;width:47px;background-position: -45px 0;}
@mixin calendar{height:43px;width:52px;background-position: -92px 0;}
@mixin tel{height:52px;width:53px;background-position: -144px 0;}
@mixin enterprise{height:121px;width:119px;background-position: -197px 0;}
@mixin pay{height:120px;width:120px;background-position: -316px 0;}
@mixin compensate{height:120px;width:120px;background-position: -436px 0;}
@mixin double-examination{height:120px;width:120px;background-position: -556px 0;}
@mixin question{height:382px;width:669px;background-position: -676px 0;}
@mixin company{height:407px;width:759px;background-position: -1345px 0;}
@mixin banner{height:520px;width:1920px;background-position: -2104px 0;}
