
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>debounce</title>
</head>
<body>
        <form action="/upload" method="post" enctype="multipart/form-data">
        <input name="name" type="text" /> 
        <input name="upload" type="file" /> 
        <input type="submit" value="Upload" />
        </form>
        <% if(data){ %>
        <div>
        	<table border="1">
                        <tr>
	        		<th>success</th>
	        		<th>msg</th>
	        		<th>data</th>
                        </tr>
        		<tr>
        			<td><%= data.success %></td>
        			<td><%= data.msg %></td>
        			<td><%= data.data[0].view_src %></td>
			</tr>
        	</table>
        </div>
        <% } %>
</body>
</html>